.swiper-container{
    .swiper-item{
        height:100vh;
        width:100vw;
    }
    .demo-text-1{
        background: red;    
    }
    .demo-text-2{
        background: blue;    
    }
    .demo-text-3{
        background: green;  
    }
}