.tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: env(safe-area-inset-bottom);
    font-size: 26px;
    box-shadow: 0 -1px 1px -1px #aeaeae;

    .tab-bar-item {
        flex: 1;
        text-align: center;
        flex-direction: column;
        height: 30px;
    }

    .tab-bar-item:not(:last-child) {
        border-right: 2px solid #acacac;
    }

    .cover-view {
        font-size: 12px;
    }
}
