// @import '~taro-ui/dist/style/index.scss';
@import '../../assets/scss/themes.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
}

.item {
  width: 45%;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0.001rem 0.118rem 0.118rem 0.10067rem rgba(26, 26, 26, 0.2);
  height: 200px;
}

.item:active {
  background-color: #f0f0f0;
}

.container:after {
  content: '';
  width: 45%;
  border: 1px solid transparent;
}

.order {
  color: $color-brand;
  font-size: larger;
  background: #ffe0aa;
  margin-left: 25px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 13px;
  text-align: center;
  margin-bottom: 0;
}
