.spinner{
    display: inline;
    text-align: center;
    font-size: 10px;
    .item{
        background-color: #f6412a;
        height: 10px;
        width: 7px;
        display: inline-block;
        margin-left: 5px;
    }
    .item-1{
        height:10px;
        animation: stretchdelay1_ 2s infinite ease;
        // animation-delay: 0.2s;
    }
    .item-2{
        height:18px;
        animation: stretchdelay2_ 2s infinite ease;
        // animation-delay: 0.2s;
    }
    .item-3{
        height:27px;
        animation: stretchdelay3_ 2s infinite ease;
    }

    @keyframes stretchdelay2 {
        0%{
            height:15px;
        }
        100%{
            height:25px;
        }
    }

    @keyframes stretchdelay3 {
        0%{
            height:20px;
        }
        100%{
            height:30px;
        }
    }
    @keyframes stretchdelay1_ {
        0%{
            opacity: 0;
        }
        10%{
            opacity: 0;
        }
        11%{
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes stretchdelay2_ {
        0%{
            opacity: 0;
        }
        30%{
            opacity: 0;
        }
        31%{
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes stretchdelay3_ {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        51%{
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }
}
