@import '../../scss/themes.scss';

.body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.header {
  height: 300px;
}

.header-title {
  text-align: center;
  font-weight: bold;
}

.header-tag {
  margin: 0;
  padding: 20px 0 0 0;
}

.number {
  font-weight: bold;
  padding-top: 8px;
  color: $color-brand;
}

.number.remain {
  color: #8799a3;
}

.order {
  padding: 10px;
  border-radius: 20px;
  background-color: #fef2ce;
}

.my {
  width: 60vw;
  margin: 10px auto;
}

.orderNo {
  display: inline;
  color: #333;
  font-weight: bold;
  padding: 0 5px;
}

.users {
  height: calc(100vh - 420px);
  overflow: auto;
}

.user-item {
  padding: 5px;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.item-order {
  padding: 0 5px;
  display: inline-block;
  color: #8799a3;
}

.avatar {
  margin: 0 20px;
  display: inline-block;
}

.nickName {
  display: inline;
}
