@import './assets/scss/themes.scss';
// @import './assets/scss/animate.scss';

// 页面容器样式，全局使用
.body {
  height: 100vh;
  width: 100vw;

  .content {
    background-color: #f5f7fa;
  }

  .t-center {
    text-align: center;
  }
}
