// @import '~taro-ui/dist/style/themes/purple.scss';
@import './scss/vars.scss';
@import './scss/themes.scss';
@import './scss/animate.scss';
@import '~taro-ui/dist/style/index.scss';

// 页面容器样式，全局使用

.body {
  min-height: 100%;

  .content {
    background-color: #f5f7fa;
  }
}
