/* 改变主题变量，具体变量名可查看 https://github.com/NervJS/taro-ui/blob/dev/src/style/variables/default.scss 文件 */
$color-brand: #385ee8;
$color-brand-light: #6a86ee;
$color-brand-dark: #2d4bba;

$color-border-base: #e8e8e8;
